#nav {
    position: relative;
}
#col1, #col2, #col3 {
}
#col1 {
    margin-left: 7px;
}
#col2 {
    margin-left: 5px;
}
#col3 {
    margin-left: 5px;
}
.block-volunteer-signup {
    height: 1%;
    padding-bottom: 0 !important;
    background:url(../images/home-col-1-volunteer-bg-2.png) bottom right repeat !important;
}
    .block-volunteer-signup .block-content {
        display: block;
        overflow: hidden;
        height: 1%;
        padding-bottom: 45px;
        background:url(../images/home-col-1-volunteer-bg.png) bottom right no-repeat;
    }
.block-volunteer-add .block-content, 
.block-developers .block-content {
    padding-bottom: 30px;
}
#footer .footer-nav {
    margin-left: 13px;
}
#footer .footer-attrib {
    margin-right: 8px;
}

.single-page .col-main {
    margin-left: 13px;
}