{% extends "base_content_min.html" %}
{% block head %}
{% block js_files %}
<script type='text/javascript' src='/zx{{version}}/js/third_party/jquery-1.3.2.min.js'></script>
<script type='text/javascript' src='/zx{{version}}/js/third_party/jquery.json-1.3.min.js'></script>
<script type='text/javascript' src="/zx{{version}}/js/jqueryui/jquery-ui-1.8.10.min.js"></script>
<script type='text/javascript' src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
<script type='text/javascript' src='/zx{{version}}/js/third_party/rsh.js'></script>
<script type='text/javascript' src='/zx{{version}}/js/third_party/jquery.simplemodal.js'></script>
<script type='text/javascript' src='/zx{{version}}/js/utils.js'></script>
<script type='text/javascript' src='/zx{{version}}/js/search_query.js'></script>
<script type='text/javascript' src='/zx{{version}}/js/homepage.js'></script>
<script type='text/javascript' src='http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php'></script>
{# functions for loading google analytics #}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ ga_key }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/u/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript">
  function recordOutboundLink(link, category, action) {
    _gat._getTrackerByName()._trackEvent(category, action);
    setTimeout('document.location = "' + link.href + '"', 100);
  }
</script>

{% endblock %}
{% block css_files %}
<link rel="stylesheet" type="text/css" href="/zx{{version}}/css/jquery.autocomplete.css" />
{% endblock %}
{% endblock %}{# head #}
{% block body %}
<body>
<!--#wrapper-->
<div id="wrapper">
{% include 'content_header.html' %}
{% block subheader %}{% endblock %}
    <!--#main-->
    <div id="main" class="clearfix main-home">

{% include 'nav.html' %}

{{ static_content }}
{% block prefooter %}{% endblock %}
{% block footer %}{% include 'footer_home.html' %}{% endblock %}
    </div>
    <!--#main-->
</div>
<!--#wrapper-->

<div id='debug_snippets' style='display:none;'></div>
<script type='text/javascript'>
/*
ensureSubmitForm();
if (currentPageName != 'HOMEPAGE') {
  createExampleSearchText();
}
setInputFieldValue(el('keywords'), '');
*/
</script>

{# setup autocomplete last #}
<script type='text/javascript' src='/zx{{version}}/js/third_party/jquery.autocomplete.js'></script>
<script>
$("#keywords").autocomplete("/autocomplete/query");
</script>
</body>
{% endblock %}
