{% extends 'layout_two_column.html' %}
{% block content_left %}
<h1>&nbsp;</h1>
<ul id='static_content_list'>
<li>
{% ifequal path '/about' %} About {% else %} <a href='/about'>About</a> {% endifequal %}
<li><a href='http://blog.allforgood.org'>Blog</a>
<li>
{% ifequal path '/help' %} Help {% else %} <a href='/help'>Help</a> {% endifequal %}
<li>
{% ifequal path '/faq' %} FAQs {% else %} <a href='/faq'>FAQs</a> {% endifequal %}
<li>
{% ifequal path '/apps' %} Apps {% else %} <a href='/apps'>Apps</a> {% endifequal %}
<li>
{% ifequal path '/docs/api.html' %} API {% else %} <a href='/docs/api.html'>API</a> {% endifequal %}
<li>
{% ifequal path '/posting' %} Posting Listings {% else %} <a href='/posting'>Posting Listings</a> {% endifequal %}
<li>
{% ifequal path '/privacypolicy' %} Privacy Policy {% else %} <a href='/privacypolicy'>Privacy Policy</a> {% endifequal %}
<li>
{% ifequal path '/tos' %} Terms of Service {% else %} <a href='/tos'>Terms of Service</a> {% endifequal %}
<li>
{% ifequal path '/contentpolicy' %} Content Policy {% else %} <a href='/contentpolicy'>Content Policy</a> {% endifequal %}
</ul>
{% endblock content_left %}
{% block content_right %}
<h1>All for Good API Terms of Service</h1>

<p>Last updated: February 2011</p>
<h3>Terms of Service</h3>

<p>As a member of the All for Good open source project, Our Good Works will assist in aggregating volunteer opportunities from multiple content partners and make this combined database available in a uniform, easy to use format for use by All for Good code developers, API developers, and end users.</p>

<p>Any use of the All for Good API ("API") is subject to the following legal disclaimers and limitations ("Terms of Service").</p>
<ul>

<p><b>1. Service</b></p>
<ul>
<p>1.1 Description of API. The API consists of (1) code, including XML, HTML or JavaScript that uses the All for Good API ("Source Code") and (2) any content contained within or made available through the All for Good API, including but not limited to data, written text, flash, images and computer code ("Content").
</p>
<p>1.2 Use of the API. The API may be used in connection with a software application or website provided that the API is not used in any manner that is primarily intended or directed toward commercial advantage or private monetary compensation. In order to use the API, you must obtain an API key from <a href="http://spreadsheets.google.com/viewform?hl=en&formkey=cmV2MWhwSmpBMUdZV3dtRG5UWFljdlE6MA..">this form</a>, and Our Good Works may block requests with an invalid key.
</p>
<p>1.3 Modifications. Our Good Works reserves the right to release subsequent versions of the API and to require You to obtain and use the most recent version Our Good Works may modify the Terms of Service at any time with or without notice, and You can review the most current version of the Terms of Service online at any time at <a href="tos">http://www.AllforGood.org/tos</a>. If a modification is unacceptable to You, You may terminate your use of the API. If You continue to use the API, You will be deemed to have accepted the modifications.</p>
<p>1.4 Appropriate Conduct and Prohibited Uses. If you are displaying Content, you agree that you will not, and you will not permit your users or other third parties to: (a) modify or obscure the text, images, or other content of any Content that you display on your site; or (b) modify, obscure or otherwise disable the functioning of links to websites provided in the Content.
You agree that You are responsible for your own conduct and content while using the API and for any consequences thereof. You agree to use the API only for purposes that are legal, proper and in accordance with these Terms of Service and any applicable policies or guidelines. By way of example, and not as a limitation, You agree that when using the API, You will not, and will not permit your end users or other third parties to:
<ul>
<li>hide or mask from Our Good Works the identity of your service as it uses the API;</li>
<li>defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others;</li>
<li>upload, post, email or transmit or otherwise make available any inappropriate, defamatory, infringing, obscene, or unlawful Content;</li>
<li>upload, post, email or transmit or otherwise make available any content that infringes any patent, trademark, copyright, trade secret or other proprietary right of any party, unless You (or the end user posting the content) are the owner of the Rights or have the permission of the owner to post such content;</li>
<li>upload, post, email or transmit or otherwise make available messages that promote pyramid schemes, chain letters or disruptive commercial messages or advertisements, or anything else prohibited by law, these Terms of Service or any applicable policies or guidelines.</li>
<li>distribute any file posted by another that You know, or reasonably should know, that cannot be legally distributed in such manner;</li>
<li>impersonate another person or entity, or falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material;</li>
<li>restrict or inhibit any other user from using and enjoying Our Good Works services;</li>
<li>use Our Good Works services for any illegal or unauthorized purpose;</li>
<li>remove any copyright, trademark or other proprietary rights notices contained in or on Our Good Works services;</li>
<li>interfere with or disrupt Our Good Works services or servers or networks connected to Our Good Works services, or disobey any requirements, procedures, policies or regulations of networks connected to All for Good services;</li>
<li>use any robot, spider, site search/retrieval application, or other device to retrieve or index any portion of Our Good Works services or collect information about users for any unauthorized purpose;</li>
<li>submit content that falsely expresses or implies that such content is sponsored or endorsed by Our Good Works ;</li>
<li>create user accounts by automated means or under false or fraudulent pretenses;</li>
<li>promote or provide instructional information about illegal activities or promote physical harm or injury against any group or individual; or</li>
<li>transmit any viruses, worms, defects, Trojan horses, or any items of a destructive nature.</li>
</ul>
<p>
The API is made available only to users in the United States.</p>

<p>1.5 User support. You understand and agree that You are solely responsible for providing user support and any other technical assistance for any implementation of the API in your application or site. Our Good Works is under no obligation to provide you or end users of your application or site with user support or any other technical assistance.</p>
</ul>
<p><b>2. Proprietary Rights</b></p>
<ul>
<p>2.1 Our Good Works Rights. For purposes of the Terms of Service, "Intellectual Property Rights" shall mean any and all rights existing from time to time under patent law, copyright law, semiconductor chip protection law, moral rights law, trade secret law, trademark law, unfair competition law, publicity rights law, privacy rights law, and any and all other proprietary rights, and any and all applications, renewals, extensions and restorations thereof, now or hereafter in force and effect worldwide. As between You and Our Good Works, You acknowledge that Our Good Works owns all right, title and interest, including without limitation all Intellectual Property Rights, in and to the API and that You shall not acquire any right, title, or interest in or to the Service, except as expressly set forth in the Terms of Service.</p>

<p>2.2 Brand Feature License. For purposes of the Terms of Service, "Brand Features" shall be defined as the trade names, trademarks, service marks, logos, domain names, and other distinctive brand features of each party, respectively, as secured by such party from time to time. Our Good Works hereby grants to You a nontransferable, nonsublicenseable, nonexclusive license during the Term to display Our Good Works Brand Features for the purpose of promoting or advertising that You use the Service in accordance with this Section 2.2 and for the purpose of fulfilling Your obligations under Section 2.3 below. You hereby grant to Our Good Works a nontransferable, nonexclusive license during the Term to use Your Brand Features to advertise that You are using the Service.</p>

<p>In using Our Good Works Brand Features, you may not:</p>
<ul>
<p>1. display a Our Good Works Brand Feature in any manner that implies a relationship or affiliation with, sponsorship, or endorsement by Our Good Works, other than your involvement in the Service, or that can be reasonably interpreted to suggest editorial content has been authored by, or represents the views or opinions of Our Good Works or Our Good Works personnel;</p>
<p>2. use Our Good Works Brand Features to disparage Our Good Works, its products or services;</p>
<p>3. display a Our Good Works Brand Feature on your site if it contains or displays adult content or promotes illegal activities, gambling, or the sale of tobacco or alcohol to persons under twenty-one (21) years of age;</p>
<p>4. have the All for Good logo as the largest logo on your website;</p>
<p>5. display a Our Good Works Brand Feature as the most prominent element on any page of your website;</p>
<p>6. display a Our Good Works Brand Feature in a manner that is misleading, defamatory, infringing, libelous, disparaging, obscene or otherwise objectionable to Our Good Works;</p>
<p>7. display a Our Good Works Brand Feature on a site that violates any law or regulation; or</p>
<p>8. remove, distort or alter any element of a Our Good Works Brand Feature (this includes squeezing, stretching, inverting, discoloring, etc.).</p>
</ul>
<p>
You understand and agree that Our Good Works has the sole discretion to determine whether your use of Our Good Works brand features is in accordance with the above restrictions.</p>
<p>
Except as set forth in this Section 2.3, nothing in the Terms of Service shall grant or shall be deemed to grant to one party any right, title or interest in or to the other party's Brand Features. All use by You of Our Good Works' Brand Features (including any goodwill associated therewith) shall inure to the benefit of Our Good Works. At no time during or after the Term shall You challenge or assist others to challenge the Brand Features of Our Good Works (except to the extent such restriction is prohibited by law) or the registration thereof by Our Good Works, nor shall You attempt to register any Brand Features (including domain names) that are confusingly similar in any way (including but not limited to, sound, appearance and spelling) to those of Our Good Works.</p>
<p>2.3 Attribution. The Content provided to You through the API may contain the trade names, trademarks, service marks, logos, domain names, and other distinctive brand features of Our Good Works, its partners, or other third party rights holders of content indexed by Our Good Works. You may not delete or in any manner alter these trade names, trademarks, service marks, logos, domain names, and other distinctive brand features.</p>
<p>2.4 Digital Millennium Copyright Act. It is Our Good Works' policy to respond to notices of alleged infringement that comply with the Digital Millennium Copyright Act. As the host of Content posted to your site by end users, you agree to comply with the Digital Millennium Copyright Act or other appropriate process for the removal of Content deemed to infringe the rights of third parties.</p>
</ul>
<p><b>3. Privacy Policy</b></p>
<ul>
<p>Our Good Works' collection and use of personal information is governed by Our Good Works' Privacy Policy, available at http://www.allforgood.org/privacypolicy. You understand and agree that Our Good Works may access, preserve, and disclose Your personal information and the contents of Your account if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary to comply with legal process or protect the rights, property and/or safety of Our Good Works, its affiliates or the public. Personal information collected by Our Good Works may be stored and processed in the United States or any other country in which Our Good Works or its agents maintain facilities. By using the Service, You consent to any such transfer of information outside of your country.</p>
</ul>
<p><b>4. Indemnity</b></p>
<ul>
You agree to hold harmless and indemnify Our Good Works, and its subsidiaries, affiliates, officers, agents, and employees, advertisers or partners, from and against any third party claim arising from or in any way related to your use of the Service, violation of these Terms of Service or any other actions connected with use of Our Good Works services, including any liability or expense arising from all claims, losses, damages (actual and consequential), suits, judgments, litigation costs and attorneys' fees, of every kind and nature. In such a case, Our Good Works will provide You with written notice of such claim, suit or action.
</ul>
<p><b>5. Disclaimer of Warranties</b></p>
<ul>
<p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT:</p>
<p>a. YOUR USE OF THE API IS AT YOUR SOLE RISK. THE API IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. OUR GOOD WORKS EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</p>
<p>b. GOOD WORKS MAKES NO WARRANTY THAT (i) THE API WILL MEET YOUR REQUIREMENTS, (ii) THE API WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE API WILL BE ACCURATE OR RELIABLE, (iv) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS, AND (V) ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED.</p>
<p>c. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE API IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.</p>
<p>d. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM GOOD WORKS OR THROUGH OR FROM OUR GOOD WORKS SERVICES SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TERMS OF SERVICE.</p>
</ul>
<p><b>6. Limitation of Liability</b></p>
<ul>
<p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT OUR GOOD WORKS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF OUR GOOD WORKS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE INABILITY TO USE THE API; (ii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE API; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE API; OR (v) ANY OTHER MATTER RELATING TO THE API.</p>
</ul>
<p><b>7. Exclusions and Limitations</b></p>
<ul>
<p>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS OF SECTIONS 5 AND 6 MAY NOT APPLY TO YOU.
</ul>
<p><b>8. Term and Termination</b></p>
<ul>
<p>8.1 Term. The term of the Terms of Service shall commence on the date upon which agree to the Terms of Service and shall continue in force thereafter, unless terminated as provided herein.</p>
<p>8.2 Termination. Our Good Works may change, suspend or discontinue all or any aspect of the API, including its availability, at any time, and may suspend or terminate Your use of the API at any time. This includes, without limitation, the right to set, at Our Good Works' own discretion and at any time, a maximum amount of Content you may access through the service without Our Good Work's prior written consent.</p>
<p>In addition, either party may terminate the Terms of Service at any time, for any reason, or for no reason including, but not limited to, if You engage in any action that reflects poorly on Our Good Works or otherwise disparages or devalues the Our Good Works Brand Features or Our Good Works' reputation or goodwill. If You desire to terminate the Terms of Service, You must remove the API from Your Site.</p>
<p>8.3 Rejection of Application. Our Good Works shall have the right, in its sole discretion, to reject any request to use the API at any time and for any reason, and such rejection shall render null and void the Terms of Service between You and Our Good Works. Our Good Works shall not be liable to You for damages of any sort resulting from its decision to reject such a request.</p>
<p>8.4 Effect of Termination. Upon the termination of the Terms of Service for any reason (i) all license rights granted herein shall terminate and (ii) You shall immediately delete any and all and Our Good Works Brand Features.</p>
8.5 Survival. In the event of any termination or expiration of the Terms of Service for any reason, Sections 2.1, 2.2, 4, 5, 6, 7, 8.4, 8.5, 8.6, and 9 shall survive termination. Neither party shall be liable to the other party for damages of any sort resulting solely from terminating the Terms of Service in accordance with its terms.</p>
<p>8.6 Remedies. You acknowledge that Your breach of service/license restrictions contained herein may cause irreparable harm to Our Good Works, the extent of which would be difficult to ascertain. Accordingly, You agree that, in addition to any other remedies to which Our Good Works may be legally entitled, Our Good Works shall have the right to seek immediate injunctive relief in the event of a breach of such sections by You or any of Your officers, employees, consultants or other agents.</p>
<p>8.7 Third Party Beneficiaries. Nothing in the Terms of Service should be construed to confer any rights to third party beneficiaries.</p>
</ul>
<p><b>9. General Information</b></p>
<ul>
<p>Entire Agreement. The Terms of Service constitute the entire agreement between You and Our Good Works and govern your use of the Service, superseding any prior agreements between You and Our Good Works. You also may be subject to additional terms and conditions that may apply when You use or purchase certain other Our Good Works services, affiliate services, third-party content or third-party software.</p>
<p>Choice of Law and Forum. The Terms of Service and the relationship between You and Our Good Works shall be governed by the laws of the State of California without regard to its conflict of law provisions. You and Our Good Works agree to submit to the personal and exclusive jurisdiction of the courts located within the county of Santa Clara, California.</p>
Waiver and Severability of Terms. The failure of Our Good Works to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. If any provision of the Terms of Service is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the Terms of Service remain in full force and effect.</p>
<p>Statute of Limitations. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of Our Good Works services or the Terms of Service must be filed within one (1) year after such claim or cause of action arose or be forever barred.</p>
<p>The section headings in the Terms of Service are for convenience only and have no legal or contractual effect.</p>
</ul>
</ul>

{% endblock content_right%}
