{% extends "layout_full.html" %}

{% block content %}
<title>All for Good | API Users</title>
<style type="text/css">
h1 {color: #1058A5; background-color: #e2e2e2; font-family: sans-serif; font-size: .8em; padding: 4px;}
h2 {color: #000000; font-family: sans-serif; font-size: 1em; line-height: 1em; padding-top: 5px;}
h3 {color: #666666; font-family: sans-serif; font-size: .5em; text-transform: uppercase; line-height: .8em;}
h4 {color: #666666; font-family: sans-serif; font-size: .5em; line-height: 1.5em;}
p {color:#000000; font-family: sans-serif; font-size: .8em; line-height: 1.5em;}
a:link {color: #1058a5; font-family: sans-serif; font-size: 1em; text-decoration: none}
a:visited {color: #1058a5; font-family: sans-serif; font-size: 1em; text-decoration: none}
a.mClass:link {color: black; text-decoration: underline;}
div {padding-bottom: 5px;color:#000000; font-family: sans-serif; font-size:inherit;}
div 2 {color:#000000; font-family: sans-serif; font-size: 4em;}
</style>
<div style="font-size:13pt;">
    
<div>
    <h1>Partners</h1>

  
    <div>
        <img class="alignleft" src="/gadget/apipartners/911.jpg" alt="911Logo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">911 Day</h2>
        <p style="margin-left:140px;">911 Day of Service encourages all Americans and others to voluntarily support charitable causes, perform good deeds and engage in other service activities in observance of the anniversary of the 9/11 attacks. 
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://911dayofservice.org/">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
           
    <div>
        <img class="aligncenter" src="/gadget/apipartners/aarp.jpg" alt="AARP Create the Good" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">AARP Create the Good </h2>
        <p style="margin-left:140px;">Whether a person has five minutes, five hours or five days,  Create the Good provides resources for individuals looking for ways to make a difference in their community. 
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://createthegood.org/">Visit Site &raquo;</a></p>
        <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" />
    </div>
    
    <div>
        <img class="alignleft" src="/gadget/apipartners/angelpoints.jpg" alt="AngelPointsLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">AngelPoints.com </h2>
        <p style="margin-left:140px;">Since 2001, AngelPoints has helped leading companies in every industry around the globe manage and measure the impact of their CSR and sustainability initiatives. 
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://AngelPoints.com ">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
     
    <div>
        <img class="alignleft" src="/gadget/apipartners/care2.png" alt="Care2Logo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">Care2 </h2>
        <p style="margin-left:140px;">Care2 provides powerful tools to let people make a difference in their lives, their communities, and the world. Care2 is driven by passionate people who want to restore the world's balance. 
        </p><p style="margin-left:140px;"><a target="_blank" href="http://www.care2.com/volunteer/">Visit Site &raquo;</a></p>
        <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>

    <div>
        <img class="alignleft" src="/gadget/apipartners/catalista.jpg" alt="CatalistaLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">Catalista.com</h2>
        <p style="margin-left:140px;">Catalista is a mobile application that helps you find timely and local volunteer opportunities, rate them and share your good deed with the world, whether you are using an iPhone or Android device. 
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://catalista.net/">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
           
    <div>
    <img class="alignleft" src="/gadget/apipartners/causecast.jpg" alt="CauseCastLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">CauseCast</h2>
        <p style="margin-left:140px;">Debuting at TechCrunch50 in September of 2008, Causecast was founded by successful entrepreneur Ryan Scott  to give nonprofit organizations an effective and aesthetically-pleasing forum to promote their ideas, raise money and increase awareness on the internet.  Today, Causecast is utilizing and developing Internet and mobile technology, volunteer database systems, campaigns and events that push the envelope in the world of cause. 
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://www.causecast.org/home">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
                  
    <div>
        <img class="alignleft" src="/gadget/apipartners/citiesofservice.jpg" alt="CitiesofServiceLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">Cities of Service</h2>
        <p style="margin-left:140px;">An All for Good campaign, in conjunction with Cities of Service, allowing people to search the AFG database for city-specific opportunities, and create AFG search widgets for their websites.  
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://www.allforgood.org/golocal">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
         
    <div>
        <img class="alignleft" src="/gadget/apipartners/communityservice.jpg" alt="CommunityServiceLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">CommunityService.org</h2>
        <p style="margin-left:140px;">CommunityService.org was developed by a band of volunteers who believe in making the world a better place in any little way they can. 
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://www.communityservice.org">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
    
    <div>
        <img class="alignleft" src="/gadget/apipartners/givehealthahand.jpg" alt="GiveHealthaHandLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">Give Health a Hand</h2>
        <p style="margin-left:140px;">Give Health a Hand — a nationwide initiative launched by the Medco Foundation is dedicated to promoting volunteerism and the sharing of potentially life-saving information to help improve people’s health. 
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://www.givehealthahand.org/volunteer/">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
        
      
    <div>
        <img class="alignleft" src="/gadget/apipartners/huffpost.jpg" alt="HuffPostLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">Huffington Post</h2>
        <p style="margin-left:140px;">The Huffington Post, a leading social news and opinion site, developed Impact in partnership with Causecast to develop an award-winning site dedicated to stories of service and philanthropy. 
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://www.huffingtonpost.com/impact/">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
      
    <div>
        <img class="alignleft" src="/gadget/apipartners/IAMS_home4holidays.png" alt="IAMSH4HLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">IAMS Home 4 the Holidays </h2>
        <p style="margin-left:140px;">The goal of IAMS Home 4 the Holidays pet adoption drive is to find loving families and lifelong homes for more than 1.5 million orphan dogs, cats, and other pets through the participation of more than 3,600 animal shelters and pet rescue organizations worldwide. 
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://www.animalcenter.org/home4theholidays/">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
   
       
    <div>
        <img class="alignleft" src="/gadget/apipartners/iparticipate.jpg" alt="iParticipateLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">iParticipate </h2>
        <p style="margin-left:140px;">The Entertainment Industry Foundation, the leading charitable organization of the entertainment industry,  mobilized the entertainment community to create iParticipate, a groundbreaking initiative designed to inspire a new era of service and volunteerism. 
        </p><p style="margin-left:140px;"><a target="_blank" href="http://iparticipate.org/">Visit Site &raquo;</a></p>
        <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
               
    <div>
        <img class="alignleft" src="/gadget/apipartners/jewish.jpg?v120x60" alt="JewishVolunteerLogo" height="60" style="float:left;" />
        <h2 style="margin-left:140px;">JewishVolunteer.com </h2>
        <p style="margin-left:140px;">JewishVolunteer was created by JewishBuilder, a company that enables synagogues and other Jewish organizations to build their own private, moderated social networks. 
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://www.jewishvolunteer.com/">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
         
    <div>
        <img class="alignleft" src="/gadget/apipartners/milserve.jpg" alt="MilServeLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">MilServe.org</h2>
        <p style="margin-left:140px;">MilServe is a program of the Veterans Innovation Center (VIC), an all volunteer organization that accelerates improvements in the quality-of-life support for Service Members, Veterans and their Families.
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://milserve.org/">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
                
    <div>
        <img class="alignleft" src="/gadget/apipartners/missionserve.jpg" alt="MissionServeLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">Mission Serve</h2>
        <p style="margin-left:140px;">Mission Serve is the ServiceNation coalition’s civilian-military initiative, connecting the civilian and military communities through a broad array of service and volunteer partnerships designed to address the challenges of our nation and our military communities.
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://www.missionserve.org/">Visit Site &raquo;</a></p>
     <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
      
    <div>
        <img class="alignleft" src="/gadget/apipartners/poprule.png" alt="PopRuleLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">Pop Rule</h2>
	<p style="margin-left:140px;">PopRule is a social news community for politics at the federal, state, and levels where you can submit your favorite political news, cast your votes, and voice your opinion. 
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://poprule.com/">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
                                                              	     
        <div>
        <img class="alignleft" src="/gadget/apipartners/serve.jpg" alt="ServeLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">Serve.gov</h2>
        <p style="margin-left:140px;">Serve.gov is an online resource developed by the Corporation for National and Community Service that allows users to find and create volunteer opportunities in their communities.  
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://serve.gov/">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
 
    <div>
        <img class="alignleft" src="/gadget/apipartners/servicenation.jpg" alt="ServeNationLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">Service Nation</h2>
        <p style="margin-left:140px;">ServiceNation is a campaign to increase service opportunities and elevate service as a core ideal and problem-solving strategy in our society. 
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://www.servicenation.org">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
            
    <div>
        <img class="alignleft" src="/gadget/apipartners/splashlife.jpg" alt="SplashLifeLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">Splashlife</h2>
        <p style="margin-left:140px;">Splashlife provides young Americans with the tools they need to improve their own lives as well as the lives of others. 
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://splashlife.com">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
                
    <div>
        <img class="alignleft" src="/gadget/apipartners/superman.jpg" alt="WaitingforSupermanLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">Waiting for Superman</h2>
        <p style="margin-left:140px;">A promotional website for the award-winning documentary film of the same name, users can find ways to support schools in their communities. 
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://www.waitingforsuperman.com/action/city/los-angeles">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
          
    <div>
        <img class="alignleft" src="/gadget/apipartners/yourcuase.jpg" alt="YourCauseLogo" width="120"  style="float:left;" />
        <h2 style="margin-left:140px;">YourCause.com</h2>
        <p style="margin-left:140px;">Social networking site that allows members to create "cause" pages to link their volunteer opportunities and share on social networking sites. Uses AFG for opportunity search. 
        </p>
        <p style="margin-left:140px;"><a target="_blank" href="http://www.yourcause.com/VolunteeringCommunity.aspx">Visit Site &raquo;</a></p>
       <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>

</div>    
{% endblock %}
