{% extends "layout_full.html" %}

{% block content %}
<style type="text/css">
h1 {color: #1058A5; background-color: #e2e2e2; font-family: sans-serif; font-size: .8em; padding: 4px;}
h2 {color: #000000; font-family: sans-serif; font-size: 1em; line-height: 1em; padding-top: 5px;}
h3 {color: #666666; font-family: sans-serif; font-size: .5em; text-transform: uppercase; line-height: .8em;}
h4 {color: #666666; font-family: sans-serif; font-size: .5em; line-height: 1.5em;}
p {color:#000000; font-family: sans-serif; font-size: .8em; line-height: 1.5em;}
a:link {color: #1058a5; font-family: sans-serif; font-size: 1em; text-decoration: none}
a:visited {color: #1058a5; font-family: sans-serif; font-size: 1em; text-decoration: none}
a.mClass:link {color: black; text-decoration: underline;}
div {padding-bottom: 5px;color:#000000; font-family: sans-serif; font-size:inherit;}
</style>
<div style="font-size:13pt;">
<h2>Below is a list of ways you can start and lead your own service project.</h2>
<div>
    <h1>Veterans and Military Families </h1>
    <h2>Help Military Families</h2>
    <h3>Sponsored by: AARP</h3>
    <p>Military men and women and their families make tremendous sacrifices as they serve our country. Military families that are settling into a new home and community have many needs that can be met by volunteers who provide support or assist them to find local resources.
    <br><a href="http://www.createthegood.org/toolkit/help-military-families">Read More &raquo;</a>
    <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
</div>

    <div>
        <h2>Connecting Veterans to Community Service</h2>
        <h3>Sponsored by: United We Serve</h3>
        <p> The Volunteer Transportation Network (VTN) is a great way to engage in volunteerism in your community and honor our nation’s veterans by providing volunteer drivers to those seeking care from the VA.
        <br><a href="http://www.serve.gov/toolkits/veterans/index.asp">Read More &raquo;</a>
        </p>
    </div>

    <div>
        <h2>Serve Alongside Veterans</h2>
        <h3>Sponsored By: The Mission Continues</h3>
        <p>The Mission Continues calls veterans, active duty military, and civilian volunteers to work side-by-side through service projects in their local communities.  This toolkit equips any volunteer with the resources in which to plan and implement a successful Mission Continues service project.
        <br /><a href="http://missioncontinues.zissousecure.com/system/storage/182/38/6/1973/the_mission_continues_-_serve_alongside_veterans_toolkit.pdf">Read More &raquo;</a>
    </div>

    <div>
        <h2>Join the Movement</h2>
        <h3>Sponsored By: Iraq and Afghanistan Veterans of America</h3>
        <p>Iraq and Afghanistan Veterans of America is the nation's first and largest group dedicated to the Troops and Veterans of the wars in Iraq and Afghanistan, and the civilian supporters of those Troops and Veterans.
        <br /><a href="http://iava.org">Read More &raquo;</a>
    </div>

    <div>
        <h2>Mission Serve</h2>
        <h3>Sponsored by: Service Nation: Mission Serve</h3>
        <p>Mission Serve is the ServiceNation coalition’s civilian-military initiative, connecting the civilian and military communities through a broad array of service and volunteer partnerships designed to address the challenges of our nation and our military communities.
        <br /><a href="http://missionserve.org">Read More &raquo;</a>
    </div>

    <div>
        <h2>Together We're Stronger</h2>
        <h3>Sponsored by: National Military Family Association</h3>
        <p>The National Military Family Association is an organization with strong grassroots support balanced with professionalism that makes us a leader in the field. Not only do we support military families – we are military families.
        <br /><a href="http://militaryfamily.org">Read More &raquo;</a>
    <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>


    <div>
        <h1>Connect Service to Dr. King and Civil Rights</h1>
        <h2>Connecting Your MLK Day Work with the Life and Teachings of Dr. King (National Alliance of Faith and Justice)</h2>
        <h3>Sponsored by: National Alliance of Faith and Justice</h3>
        <p>A guide that will give creative examples on how youth can apply the history of civil rights to relevant personal, school, community concerns through education exercises, individual and group service and mentorship. 
        <br><a href="http://mlkday.gov/assets/library/development/NAFJ%20Action%20Guide.pdf">Download &raquo;</a>
    <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>

    <div>
        <h2>Classroom Conversations</h2>
        <h3>Sponsored by: NYCH</h3>

        <p>Classroom Conversations brings together members of a school community to sharpen individual insight and critical thinking through community interaction and meaningful dialogue.
        <br><a href="http://mlkday.gov/assets/library/partner-toolkits/Classroom%20Conversations%20MLK%20Toolkit.pdf">Download &raquo;</a>
        <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
    <div>
        <h2>Community Conversations</h2>
        <h3>Sponsored by: NYCH</h3>
        <p>A Community Conversation brings together members of a group, organization or neighborhood to join in a facilitated discussion of a short reading. Conversations are centered on a shared text and a set of thought-provoking questions, encouraging participants to reflect on the issues raised by the reading and discuss how they impact our lives and communities.
        <br><a href="http://mlkday.gov/assets/library/partner-toolkits/2011%20Community%20Conversations%20Toolkit.pdf">Download &raquo;</a>

        <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
    
    <div>
        <h2>Community Conversations For Families</h2>
        <h3>Sponsored by: NYCH</h3>
        <p>Community Conversations for Families gives parents and their 8-to-12 year old children the opportunity to engage in meaningful dialogue about current events at their local library.
        <br><a href="http://mlkday.gov/assets/library/partner-toolkits/Families%20Toolkit%202011.pdf">Download &raquo;</a>
       </p>

    </div>

<div>
    <h1>Environmental Stewardship</h1>
    <h2>Help Neighbors with Home Weatherization and Energy Savings</h2>
    <h3>Sponsored by: AARP</h3>
    <p>"Operation Energy Save is designed so that individuals, organizations and community groups can help older friends and neighbors save money on energy costs."
    <br><a href="http://www.createthegood.org/sites/default/files/how-to/Energy-Save-Individual.pdf?how-to-toolkit=1">Download &raquo;</a>

    <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
</div>
    <div>
        <h2>Environmental Action Guides </h2>
        <h3>Sponsored by: YSA</h3>
        <p>Taking care of your environment is easy to do with these 55 Environmental Service-Learning projects. Each contains a brief description and suggested resources to help your service create the biggest impact.
        <br><a href="http://tools.ysa.org/downloads/tipsheets/semester/55%20Environmental%20Service-Learning%20Projects.pdf">Download &raquo;</a>
        <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>

    </div>
       <div>
        <h2>55 Environmental Service-Learning Projects</h2>
        <h3>Sponsored by: Hands on Network</h3>
        <p>Find various projects that will help your community from creating a recycling center to helping organize an Earth Day Celebration by following easy tip sheets designated by skill level, age group and number of volunteers.
        <br><a href="http://www.handsonnetwork.org/tools/startproject?field_age_group_value_many_to_one=All">Read More &raquo;</a>
        </p>
    </div> 
    <div>

    <h1>Economic Opportunity</h1>
    <h2>Teach Financial Literacy Courses</h2>
    <h3>Sponsored by: AARP</h3>
    <p>Teaching children financial literacy is a valuable lesson that the can carry with them and share with others throughout their life.  
    <br><a href="http://www.createthegood.org/toolkit/help-child-learn-financial-literacy">Read More &raquo;</a>
    <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
</div>
    <div>

        <h2>Help Someone Access Public Benefit Programs</h2>
        <h3>Sponsored by: AARP</h3>
        <p>Help teach people who are eligible for government programs that help cover the cost of basic necessities how to apply for them.
        <br><a href="http://www.createthegood.org/sites/default/files/how-to/PublicBenefit.pdf?how-to-toolkit=1">Download &raquo;</a>
        <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
    <div>
        <h2>Economy Action Guides </h2>

        <h3>Sponsored by: Hands on Network</h3>
        <p>Find various projects that will help your community from learning how to navigate public benefits to becoming a VITA volunteer  by following easy tip sheets designated by skill level, age group and number of volunteers.
        <br><a href="http://www.handsonnetwork.org/tools/startproject?field_age_group_value_many_to_one=All&field_activity_type_value_many_to_one=economy&field_skill_level_value_many_to_one=All">Read More &raquo;</a>
        </p>
    </div>
<div>
<div>
    <h1>Disaster Services</h1>
    <h2>Emergency Preparation</h2>

    <h3>Sponsored by: Hands on Network</h3>
    <p>Find various projects that will help your community from learning how to navigate public benefits to becoming a VITA volunteer  by following easy tip sheets designated by skill level, age group and number of volunteers.
    <br><a href="http://www.handsonnetwork.org/tools/startproject?field_age_group_value_many_to_one=All&field_activity_type_value_many_to_one=economy&field_skill_level_value_many_to_one=All">Read More &raquo;</a>
    <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
</div>
    <div>
        <h2>Hurricane Preparation</h2>
        <h3>Sponsored by: AARP</h3>

        <p>Operation Hurricane Prepare is designed so that individuals, organizations and community groups can be prepared for an emergency or natural disaster. This kit is for organizers but could easily be adapted to help individuals prepare for an emergency.
        <br><a href="http://www.createthegood.org/toolkit/operation-hurricane-prepare">Read More &raquo;</a>
        <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
        <div>
        <h2>Disaster Relief & Preparedness Through Service-Learning </h2>
        <h3>Sponsored by: YSA</h3>

        <p>Incorporating service-learning with meaningful service will help enrich student's community service experience.  Using the five stages of service-learning, students will look at disaster relief & preparedness as ways to enrich learning, build civic engagement and strengthen communities.
        <br><a href="http://tools.ysa.org/downloads/modules/DisasterReliefModule.pdf">Download &raquo;</a>
        </p>
    </div>
<div>
    <h1>Education</h1>
    <h2>Organize a Book Club</h2>
    <h3>Sponsored by: AARP</h3>

    <p>Book clubs are an excellent way to excite readers and stimulate young minds.  Help support the youth of your community by starting a book club at your local school, library, or community center.
    <br><a href="http://www.handsonnetwork.org/node/2311">Read More &raquo;</a>
    <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
</div>
    <div>
        <h2>Organize a School Supply Drive</h2>
        <h3>Sponsored by: Hands on Network</h3>
        <p>Many American families struggle to purchase school supplies for their children. Help support kids in your local community by organizing a school supply drive to ensure that kids have the tools and resources they need to thrive.
        <br><a href="http://www.handsonnetwork.org/node/2313">Read More &raquo;</a>

        <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>
        <div>
        <h2>Education Action Guides</h2>
        <h3>Sponsored by: Hands on Network</h3>
        <p> Find various projects that will help your community from creating a science, math or book club by following easy tip sheets designated by skill level, age group and number of volunteers.
        <br><a href="http://www.handsonnetwork.org/tools/startproject?page=1&field_age_group_value_many_to_one=All">Read More &raquo;</a>

        </p>
    </div>
        
<div>
    <h1>Healthy Futures</h1>
    <h2>Plan a community garden</h2>
    <h3>Sponsored by: AARP</h3>
    <p>Growing your own fruits and veggies is a great way to use your existing skills or discover new gardening talents while helping your community learn about healthy nutrition.
    <br><a href="http://www.createthegood.org/sites/default/files/how-to/CommunityGarden.pdf?how-to-toolkit=1">Read More &raquo;</a>

    <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
</div>
    <div>
        <h2>Start a Walking Group</h2>
        <h3>Sponsored by: AARP</h3>
        <p>Walking Group Tool Kit is designed to provide individuals, organizations and community groups easy ideas on how to start a walking group.
        <br><a href="http://www.createthegood.org/sites/default/files/how-to/WalkingGroup.pdf?how-to-toolkit=1">Download &raquo;</a>
        <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>

    </div>
        <div>
        <h2>Healthy Living Action Guides</h2>
        <h3>Sponsored by: Hands on Network</h3>
        <p>Students will learn about the elements of a balanced diet and will make and eat a healthy snack!
        <br><a href="http://www.handsonnetwork.org/node/2304">Read More &raquo;</a>
        <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    </div>

        <div>
        <h2>First Responders: Youth Addressing Childhood Obesity Through Service-Learning</h2>
        <h3>Sponsored by: YSA</h3>
        <p>Youth across America are addressing the issue of childhood obesity by becoming a First Responder.  This lesson will teach them to look beyond the textbook and assume a role as a problem solver.
        <br><a href="http://tools.ysa.org/downloads/modules/YSA-First_Responders_Childhood_Obesity.pdf">Download &raquo;</a>
        </p>
    </div>

</div>
{% endblock %}
