body,
div,
form,
h2,
h3,
li,
p,
ul {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
body {
  font-family: Tahoma, arial, sans-serif;
  font-size: 12px;
}
img {
  border: 0;
  cursor: pointer;
}
ul { list-style: none; }
h2 {
  font-size: 100%;
  font-weight: normal;
}
h3 {
  font-size: 100%;
  font-weight: bold;
  line-height: 130%;
}
p,
a,
span { line-height: 130%; }
form { text-align: center; }
form input { vertical-align: middle; }
a,
a:link,
a:visited {
  color: #039;
  text-decoration: none;
}
a:hover {
  color: #039;
  text-decoration: underline;
}
/* Feed data display region. */
.clear {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
}
.afg-record {
  border-bottom: 1px solid #666;
  padding: 5px;
}
.afg-record-na {
  height: 60px;
  margin: 20px 0;
  text-align: center;
}
.afg-rec-meta { color: #666; }
.afg-rec-title { font-weight: bold; }
/* Modal popup. */
.afg-mask {
  background-color: #666;
  filter: alpha(opacity=50);
  height: 100%;
  opacity: 0.5;
  width: 100%;
  -moz-opacity: 0.5;
}
.afg-mask,
.afg-dialog {
  left: 0;
  position: absolute;
  top: 0;
}
/* Page layout. */
#afg-header-region {
  background-color: #1155a0;
  overflow: hidden; /* hasLayout trigger */
  width: 100%;
}
#afg-branding-region {
  padding: 5px;
}
#afg-footer-region {
  background-color: #1155a0;
  overflow: hidden; /* hasLayout trigger */
  width: 100%; /* IE6 hasLayout trigger */
}
#afg-footer-content {
  float: right;
}
#afg-content-region {
  background-color: #fff;
  overflow: hidden;
  width: 100%;
}
#afg-branding-btn {
  float: right;
  text-align: left;
}
#afg-branding-title {
  color: #fff;
  margin-right: 50px;
}
#afg-gadget-dialog {
  margin: 60px 5% 0 5%;
  width: 90%;
}
/* Modal popup content. */
#afg-search-text {
  height: 2em;
  padding: 0.25em 0;
  width: 75%;
}
.afg-gobutton { margin-left: 10px; }
/* Pagination. */
.pagination {
  padding: 2px 5px;
  text-align: center;
}
/* Image Cropper. */
.image-cropper {
  display: block;
  overflow: hidden;
  text-align: center;
}
.image-cropper div { margin: 0 -9999px; }
#branding-logo {
  height: 21px;
  width: 160px;
}
#branding-logo img { height: 21px; }

/* Loading. */
#afg-loading-container {
  text-align: center;
  width: 100%;
}
/*
While using these style sheet use src = '/c.gif'
.afg-search-button {
  background: transparent url('http://gadget.js.googlepages.com/search.png') no-repeat scroll 50% 50%;
  height: 23px;
  width: 32px;
}
.afg-embed-button {
  background: transparent url('http://gadget.js.googlepages.com/embed.png') no-repeat scroll 50% 50%;
  height: 21px;
  width: 55px;
}
.afg-go-button {
  background: transparent url('http://gadget.js.googlepages.com/go.png') no-repeat scroll 50% 50%;
  height: 25px;
  width: 43px;
}
*/
