body {
    font-family: sans-serif;
    font-size: 100%;
    margin-left: 4%;
    padding: 0;
}

.doc-text {
    padding-top: 0.3%;
    font-size: 100%;
}

.info {
    font-size: 95%;
}

.entryName {
    padding-top: 0.5%;
    font-size: 130%;
    font-weight: bold;
    color: darkgreen;
}

.titleText {
  color: darkgreen;
  font-size: 150%;
  font-weight: bold;
  text-align:center;
}

.entry {
  border-bottom: thin dotted #000000;
}

.namedType {
  border-bottom: thin dotted #000000;
}

blockquote {
  margin-left: 3%;
  border-left: medium solid green;
  padding-left: 0.3%;
}

