<div id='campaign_branding_snippet' style="width:300px;margin-bottom:30px">
    {% ifequal campaign_branding_type "iframe" %}
    <iframe id='campaign_frame' src="{{campaign_branding_source}}">
    </iframe>
    {% endifequal %}
    {% ifequal campaign_branding_type "local-image" %}
    <div id='campaign_div'>
        <div id='campaign_border'>
            <div id='campaign_sponsored_by'>Sponsored By:</div>
            <p>
            <a href='/url?q={{ campaign_branding_target|urlencode }}&id={{campaign_id|urlencode }}&sig={{ campaign_branding_target_sig }}'
               target="_top">
                <img id='campaign_logo'
                     src="/zx{{version}}/images/branding/{{campaign_branding_source}}"
                     onmouseover="mouse_over_campaign_logo()">
            </a>
            </div>
            <div id='campaign_learn_more'>
                {% if campaign_branding_action %}
                    {{campaign_branding_action}}
                {% else %}
                <a href='/url?q={{ campaign_branding_target|urlencode }}&id={{campaign_id|urlencode }}&sig={{ campaign_branding_target_sig }}'>
                    Learn more</a> about our sponsor.
                {% endif %}
        </div>
    </div>
    {% endifequal %}
</div>
<script>
    var campaignId = '{{campaign_id}}';
    var moused_over_campaign_logo = false;
    function mouse_over_campaign_logo() {
        if (!moused_over_campaign_logo) {
            moused_over_campaign_logo = true; // we only want to do this once
            // pageTracker is set on page load
            pageTracker._trackPageview('/' + campaignId + '/mouseover/');
        }
     };
</script>
<p></p>