{% extends "search_results.html" %}

{% block title %}
All for Good - Your Activities
{% endblock %}}

{% block subheader %}
  {% if redirect_to_home %}
  <script>
    window.location = '/';
  </script>
  {% endif %}
{% endblock subheader %}

{% block top_content %}
<div id="profile_box">
  {% comment %}
  ** Profile image code - wasn't working with blank Facebook pics, so currently disabled. **
  <div id="profile_box_left">
    <img src="{{ user.thumbnail_url|escape }}" width=50 height=50 alt="{{ user.display_name|escape }}" />
  </div>
  {% endcomment %}
  
  <div id="profile_box_right">
    Like count: <span id="like_count"></span>
  </div>
  <h1>{{ user.display_name|escape }}</h1>
  {% comment %}
  ** Locaiton code - needs to be updated to work properly with social network location **
  <h2><span id='profile_box_location_text'></span></h2>

  <script type="text/javascript">
    var defaultLocation = getDefaultLocation().displayLong || '';
    setTextContent(el('profile_box_location_text'), defaultLocation);
  </script>
  {% endcomment %}
</div>
{% endblock %}

{% block content_left %}
  <div id='map'></div>

  <div id="calendar" style="display:none">
    {% include 'calendar_widget.html' %}
  </div>

  <!--
  <div>
    <a href='javascript:setWhoFilter("me");'>Me</a><br/>
    <a href='javascript:setWhoFilter("me_and_friends");'>Me + my friends</a>&nbsp;
    <span style="font-size:9px"><em>Not implemented...</em></span><br/>
  </div>
  -->
{% endblock content_left %}


