<div id='header'>
  <div id='header_left'>
    <div id='header_top_spacer'></div>
    <form action='/' class='valign' onsubmit='submitForm("keywords"); return false;'>
      <table>
       <tr>
        <td valign='middle'>
          <span id='logo_span'>
            <a style='text-decoration:none;' class='valign noselect no_underline' href='/'><img border='0' id='logo_name' class='valign' src='/zx{{version}}/images/title_2.0.gif' alt='All for Good'/></a>
          </span>
        </td>
        <td valign='middle'>
          <div>
            <input type='text' id='keywords' name='search terms' class='valign'
                   size='40' value='{{ keywords|escape }}' />
            <img class='search_button valign pointer' alt='search'
                 onclick='submitForm("keywords"); return false;'
                 src='/zx{{version}}/images/red-search-button.png'/>
				 <input type="hidden" id="categories" name="categories" value="" />
            <span id='loading' style='display:none;'>Loading...</span>
          </div>
        </td>
       </tr>
       <tr style="padding: 0">
         <td></td>
         <td>
          <div id='example_searches'></div>
        </td>
       </tr>
      </table>
    </form>
  </div>
  {% if not no_login %}
  <div id='header_right' align='right' style='width:100%'></div>
  {% endif %}{# no_login #}
  <div style='clear: both; float: none'></div>
</div>
