{% for result in six_results %}
<li 
  {% if for.counter0 == 0 %} class="first" {% endif %}
  {% if for.counter0 == 2 %} class="last" {% endif %}
>
<h4><a id='shareable_{{ forloop.counter0 }}' target='_fp_target' 
   onClick="recordOutboundLink(this, 'Outbound Links', '{{ result.url }}');return false;"
  href='/url?q={{ result.url|urlencode }}&sig={{ result.url_sig|urlencode }}&id={{ result.merge_key|urlencode }}'>{{ result.purged_title|truncate_chars:50|escape }}</a></h4>
{% if result.location or result.startdate or result.interest_count %}
<p class="meta">
{{ result.location|escape }}
{% endif %}
</p>
<p class="teaser">{{ result.purged_snippet|truncate_chars:100|escape }}</p>
<p class="links">
<a class='snippet_url' 
 onClick="recordOutboundLink(this, 'Outbound Links', '{{ result.url }}');return false;"
  target='_fp_target' href='/url?q={{ result.url|urlencode }}&sig={{ result.url_sig|urlencode }}&id={{ result.merge_key|urlencode }}'>{{ result.url_short|escape }}</a> | 
<a href="javascript:void(0);" id='share_{{ forloop.counter0 }}'>Share</a>
</p>
</li>
{% endfor %}
