{% extends "base_min.html" %}
{% block head %}
  <link href='/zx{{version}}/css/main.css' rel='stylesheet'/>
  {% block css_files %}{% endblock %}
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>

<style>
h1 {
  color: white;
}
h2 {
  color: black;
  font-size: 14px;
}
p {
  color: white;
  font-size: 14px;
}
</style>
{% endblock %}


{% block body %}
<body>
    <div id='header_top_spacer'></div>
    <div>
      <a class='no_underline' href='/'><img class='logo' src='/zx{{version}}/images/logo.png'>
      <span class='header_title noselect pointer' style='vertical-align: middle;'><img class='logo' src='/zx{{version}}/images/title-transp.png' alt='All for Good'></span></a>
    </div>
  {# % include 'header.html' % #}

<h1>Admin interface</h1>

<br/>
<div style="width:1024px;background:#eee;padding:10px;text-align:left">
  &nbsp;&nbsp;&nbsp; {{ msg }}
  <h2>Main Menu:</h2>
  <ul>
  <li><a href='/admin?action=moderators'>review/approve moderators</a></li>
  <li><a href='/dashboard/datahub'>datahub dashboard</a></li>
  <li><a href='/admin?action=flush_memcache'>flush memcache (i.e. after new server push)</a></li>
  <li><a href='/testapi/run'>API self-test</a> (<a href='/testapi/run?cache=0'>run manually</a>) <a href='http://host-tracker.com/' onMouseOver='this.href="http://host-tracker.com/web-site-monitoring-stats/2481561/lvuc/";'><img 
width=80 height=15 border=0 alt='server monitor' 
src="http://ext.host-tracker.com/uptime-img/?s=15&amp;t=2481561&amp;m=00.05&amp;p=Total&amp;src=lvuc"></a><noscript><a href='http://host-tracker.com/' >site uptime</a></noscript></li>
  <li><a href='{{ logout_link }}'>Logout</a></li>
  </ul>

  <br>
  <h2>Memcache Stats:</h2>
  <ul>
  <li>{{ memcache_stats.hit_percent }} hit rate</li>
  <li>{{ memcache_stats.size }} {{ memcache_stats.size_unit }} in cache</li>
  <li>{{ memcache_stats.items }} key/value pairs in the cache</li>
  <li>{{ memcache_stats.oldest_item_age }} seconds since oldest item accessed</li>
  <li>{{ memcache_stats.hits }} total cache get requests resulting in a cache hit</li>
  <li>{{ memcache_stats.misses }} total cache get requests resulting in a cache miss</li>
  <li>{{ memcache_stats.byte_hits }} total bytes transferred (rolls over to zero on overflow)</li>
  </ul>

  <br>
  <h2>Private Keys:</h2>
  <ul>
  <li>DEFAULT_FACEBOOK_SECRET: {{ private_keys.DEFAULT_FACEBOOK_SECRET }}</li>
  <li>FACEBOOK_SECRETS: {{ private_keys.FACEBOOK_SECRETS }}</li>
  <li>DEFAULT_BACKEND_URL_SOLR: {{ private_keys.DEFAULT_BACKEND_URL_SOLR }}</li>
  <li>AFG_GOOGLE_DOCS_LOGIN: {{ private_keys.AFG_GOOGLE_DOCS_LOGIN }}</li>
  </ul>
<p/>
</div>

<p/>
  
  {% block prefooter %}{% endblock %}
  {% block footer %}
  <div id='footer'>
    <div class='footer_right'>
      <a href='/aboutus'>About Us</a> -
      <a href='/privacypolicy'>Privacy Policy</a> -
      <a href='/publishers'>Publishers</a> -
      <a href='/tos'>Terms of Service</a>
    </div>
    <div class='footer_left'>
      &copy; 2009
    </div>
  </div>
  {% endblock %}
</body>
{% endblock %}

