    <!--#main-->
    <div id="main" class="clearfix">
        <!--.content-->
        <div id="content" class="clearfix">
            <!--.single-page-->
            <div class="single-page-full-width">
                <!--.col-main-->
                <div class="col-main">
<iframe name="cos" id="frm" frameborder="no" scrolling="no" 
  style="width:940px;height:1900px;"
  src="http://echo3.net/cos/gallery/"></iframe>
                </div>
                <!--.col-main-->
            </div>
            <!--.single-page-->
        </div>
        <!--.content-->

