    <!--#main-->
    <div id="main" class="clearfix">
        <!--.content-->
        <div id="content" class="clearfix">
            <!--.single-page-->
            <div class="single-page-full-width">
                <!--.col-main-->
                <div class="col-main">
<h1>Help</h1>

<h3>I'm not getting any results when I search.  What do I do?</h3>
<p/>
Try broadening your location or keywords. For instance, instead of Sausalito, CA, search for San Francisco, CA. Being less specific will produce more results.
<p/>
<h3>I'm having problems with the site.  It doesn't seem to be working right?</h3>
<p/>
We want to fix any problems you might find on the site ASAP.  For technical problems or questions concerning this site, please <a href="http://allforgood.uservoice.com/forums/20042-general">submit your feedback</a>.
<p/>
<h3>I have some feedback, what can I do?</h3>
<p/>
We welcome your feedback and need your help to make All for Good better. To send feedback or share enhancement requests, please <a href="http://allforgood.uservoice.com/forums/20042-general">submit your feedback</a>.
<p/>
<h3>I saw something inappropriate in the results, what can I do?</h3>
<p/>
Thanks for helping us keep the site safe. To report inappropriate postings on this site, please contact us by filling out the <a href="http://spreadsheets.google.com/viewform?formkey=ckJvOTJ5dFNLU3RHeHVRQ21ydVhoNEE6MA..">Inappropriate content form</a>.
<p/>
To learn more about All for Good, browse the <a href="/faq">Frequently Asked Questions</a>.


                </div>
                <!--.col-main-->
            </div>
            <!--.single-page-->
        </div>
        <!--.content-->
