{% extends "layout_full.html" %}

{% block content %}
<style type="text/css">
h1 {color: #1058A5; background-color: #e2e2e2; font-family: sans-serif; font-size: .8em; padding: 4px;}
h2 {color: #000000; font-family: sans-serif; font-size: 1em; line-height: 1em; padding-top: 5px;}
h3 {color: #666666; font-family: sans-serif; font-size: .5em; text-transform: uppercase; line-height: .8em;}
h4 {color: #666666; font-family: sans-serif; font-size: .5em; line-height: 1.5em;}
p {color:#000000; font-family: sans-serif; font-size: .8em; line-height: 1.5em;}
a:link {color: #1058a5; font-family: sans-serif; font-size: 1em; text-decoration: none}
a:visited {color: #1058a5; font-family: sans-serif; font-size: 1em; text-decoration: none}
a.mClass:link {color: black; text-decoration: underline;}
div {padding-bottom: 5px;color:#000000; font-family: sans-serif; font-size:inherit;}
</style>
<div style="font-size:13pt;">
<h4 style="font-size:inherit;">
Below is a list of ways you can start and lead your own service project for MLK Day.
<br>
To see an additional list by All for Good partners, <a href="/StrategicPartners">click here.</a></h4>

<div>
    <h1>General Service Project</h1>
    <h2>Creating a Service Project</h2>
    <h3>Sponsored by: Corporation for National & Community Service</h3>
    <p>Creating a service project requires a number of steps. This Foundation segment of the MLK Day toolkits provides the steps for creating a service project in any topic area.
    <br><a href="http://mlkday.gov/plan/actionguides/foundation.php">Read More &raquo;</a>
    </p>

</div>

<div>
    <h1>Education</h1>
    <h2>Create a Book and School Supply Drive</h2>
    <h3>Sponsored by: Corporation for National & Community Service</h3>
    <p>Help improve childhood literacy and reading skills in your neighborhood by starting a book drive!
    <br><a href="http://mlkday.gov/plan/actionguides/bookdrive.php">Read More &raquo;</a>

    <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
</div>
    <div>
        <h2>Bring Learning to Any Project You Do</h2>
        <h3>Sponsored by: Corporation for National & Community Service</h3>
        <p>Help volunteers understand the reason behind the service that is being done, by incorporating a reflection component. 
        <br><a href="http://mlkday.gov/plan/actionguides/infusing.php">Read More &raquo;</a>
        </p>

    </div>
    
    <div>
    <h1>Healthy Futures</h1>
    <h2>Organize a Fitness Event</h2>
    <h3>Sponsored by: Corporation for National & Community Service</h3>
    <p>Help your community understand the importance of fitness by organizing a community-wide day of fitness. 
    <br><a href="http://mlkday.gov/plan/actionguides/heal.php">Read More &raquo;</a>

    <hr style="color:#ccc;background-color:#ccc;height:1px;border:none;" /></p>
    
</div>
    <div>
        <h2>Create or Expand a Community Garden</h2>
        <h3>Sponsored by: Corporation for National & Community Service</h3>
        <p>Some neighborhoods lack access to fresh fruits and vegetables; by creating or expanding a community garden you can teach the value of a healthy diet as well as impact your community's access to these important dietary needs.  
        <br><a href="http://mlkday.gov/plan/actionguides/nourish.php">Read More &raquo;</a>

        </p>
    </div>
<div>
    <h1>Economic Opportunity</h1>
    <h2>Acquire Financial Literacy and Teach Others</h2>
    <h3>Sponsored by: Corporation for National & Community Service</h3>
    <p>The first step in serving your community’s need to become financially savvy is to become wiser yourself. Afterwards sharing the truth of your experience, seeking advice, and offering counsel can help alleviate the emotional burden wrapped up in financial woes.
    <br><a href="http://mlkday.gov/plan/actionguides/support.php">Read More &raquo;</a>

    </p>
</div>
<div>
    <h1>Military Families & Veterans</h1>
    <h2>Send Letters and Care Packages to our Troops</h2>
    <h3>Sponsored by: Corporation for National & Community Service</h3>
    <p>As you contemplate their sacrifices and make small gestures like sending good wishes and tasty treats that connect our own service to theirs.
    <br><a href="http://mlkday.gov/plan/actionguides/honor.php">Read More &raquo;</a>

    </p>
</div>
<div>
    <h1>Environmental Stewardship</h1>
    <h2>Plant Trees in your Neighborhood</h2>
    <h3>Sponsored by: Corporation for National & Community Service</h3>
    <p>Planting trees can benefit your community in multiple ways. Trees can turn an ordinary city street into a pleasant strolling ground, providing shade as well as cleaning up the air we breathe and guarding against flooding. 
    <br><a href="http://mlkday.gov/plan/actionguides/conserve.php">Read More &raquo;</a>

    </p>
</div>
<div>
    <h1>Disaster Preparedness</h1>
    <h2>Train your Neighbors to Prepare for Disasters</h2>
    <h3>Sponsored by: Corporation for National & Community Service</h3>
    <p>Unexpected events can turn an ordinary day into a life-threatening disaster but we can ready ourselves and our neighbors so that emergency doesn’t become tragedy.
    <br><a href="http://mlkday.gov/plan/actionguides/disaster.php">Read More &raquo;</a>

    </p>
</div>
    
    <a href="/StrategicPartners" style= font-variant= "bold"; class="mClass">See More All For Good Partner Opportunities &raquo;</a>
</div>
{% endblock %}
