        <!--.footer-->
        <div id="footer" class="clearfix">

        
            <!--.footer-nav-->
            <div class="footer-nav">
                <ul>
                    <li class="first"><a target="_blank" href="http://twitter.com/All_for_Good">Twitter</a></li>
                    <li><a target="_blank" href="http://www.facebook.com/allforgood">Facebook</a></li>
                    <li><a target="_blank" href="http://allforgood.uservoice.com">Site Feedback</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                    <li><a href="/privacypolicy">Privacy Policy</a></li>

                    <!-- <li><a href="javascript:void(0)">Sitemap</a></li> -->
                    <li><a href="/help">Help</a></li>
                    <!-- <li class="last"><a href="javascript:void(0)">Donate</a></li> -->
                </ul>
                <p>&copy;2011 All for Good</p>
            </div>
            <!--.footer-nav-->

            
            <!--.footer-attrib-->
            <div class="footer-attrib" style="display:none;">
                <a href="http://www.pointsoflight.org/"><img src="images/footer-pol-grey.png" height="40" width="128" alt="Points of Light Institute" /></a>
            </div>
            <!--.footer-attrib-->
            
        </div>
        <!--.footer-->
