 <!--.content-->
<div id="content" class="clearfix">
	<!--.single-page-->
	<div class="search-page">
		<!--#search-top-->
		<div id="search-top">
			<div class="search-box">
				<h1>Search:</h1>
				<form action="/search_form" id="overlabel" onsubmit="submitForm('keywords');return false;">
					<input type="hidden" value="" id="category_input" name="category_input" />
					<input type="hidden" value="" id="provider_input" name="provider_input" />
					<div class="form-row">
						<label for="keywords" class="overlabel">enter search term</label>
						<input id="keywords" class="text-field" type="text" name="search" title="enter search term" value="" />
						<input type="submit" name="submit" id="submit" value="Search" />
					</div>
				</form>
				<div class="pop-search">
					<p><strong>popular searches:</strong> Military Families, Veterans, Education, 
						Hunger, Animals, Health, Seniors, Technology, Poverty</p>
				</div>
			</div>
			<div class="search-info">
				<ul>
					<li><strong>In Your Area</strong> Are opportunities that lorem ipsum dolor mit 
						veritas <a href="javascript:void(0)">link</a>.</li>
					<li><strong>Virtual</strong> Are opportunities that lorem ipsum dolor mit 
						veritas <a href="javascript:void(0)">link</a>.</li>
					<li><strong>Self-Directed</strong> Are opportunities that lorem ipsum dolor mit 
						veritas <a href="javascript:void(0)">link</a>.</li>
					<li><strong>Micro</strong> Are opportunities that lorem ipsum dolor mit veritas 
						<a href="javascript:void(0)">link</a>.</li>
				</ul>
			</div>
		</div>
		<!--#search-top-->
		<!--.col-main-->
		<div class="col-main">
			<!--#tabs-->
			<div id="tabs">
				<ul>
					<li><a href="#tabs-1">IN YOUR AREA <span id="in_your_area"></span></a></li>
                    <li><a href="#tabs-1">VIRTUAL <span id="virtual"></span></a></li>
                    <li><a href="#tabs-1">MICRO <span id="micro"></span></a></li>
                    <li><a href="#tabs-1">SELF-DIRECTED <span id="self_directed"></span></a></li>
				</ul>
				<!--#tabs-1-->
				<div id="tabs-1">
					<div class="search-aside">
						<div class="box no_background">                            
                            <div class="box search-current facets" id="facets_container">
								<div id="active_facet_query_wrapper">
									<ul class="data_list" id="active_facet_item"></ul>                                    
								</div>
                                <input type="hidden" name="category_input" id="category_input" value="" />
                                <input type="hidden" name="provider_input" id="provider_input" value="" />
							</div>                            
							<div id="category_facet" class="box search-refine search-refine-category facets">
								<div class="header collapsed">
									<h4>Refine by Category</h4>									
								</div>								
                                <ul id="category_list"></ul>	
							</div>                            
							<div id="provider_facet" class="box search-refine search-refine-provider facets">
								<div class="header collapsed">
									<h4>Refine by Provider</h4>									
								</div>								
                                <ul id="provider_list"></ul>
							</div>                             
							<div id="map"></div>
							<div class="box" id="location_distance_date">
                                <div id="location_box">
                                    <form action="/search_form" id="overlabel">
                                        <strong>Enter your location</strong>
                                        <div class="form-row form-row-search-first">                                        
                                            <input id="location" class="text-field" type="text" name="location" value="" />
                                        </div>
                                        <div class="form-row form-search-range">
                                            <strong><label for="location_slider">Within a <span id="location_distance"></span> mile range</label></strong>
                                            <div id="location_slider"></div>
                                        </div>
                                        <div class="form-row form-row-search-last">
                                            <strong>Filter by date range</strong>
                                            <input type="text" id="startdate" value="start date" /> 
                                            <div class="date-sep">to</div>
                                             <input type="text" id="enddate" value="end date" />
                                        </div>
                                        <input type="submit" value="Update Search" id="submit-btn" />
                                    </form>
                                </div>
                            </div>
						</div>
					</div>
					<div class="search-main">
						<div id="loading"></div>
						<div class="top_search">
                            <div class="sort">Sort by 
                                <select id="sort" onchange="sortResults(this.options[this.selectedIndex].value)">
                                    <option>Relevance</option>
                                    <option>Date</option>
                                </select>
                            </div>
                        </div>
						<ul id="tabs-1-results" class="results">
							<div id="snippets_pane"></div>
						</ul>
					</div>
				</div>
				<!--#tabs-1-->				
			</div>
			<!--#tabs-->
		</div>
		<!--.col-main-->
	</div>
	<!--.single-page-->
</div>
<!--.content--> 

<script type="text/javascript">
    function populateActiveFacets() {
		  var query = getInputFieldValue(el('keywords'));		  
		  var category = $("#category_input").val();		  
		  var source = $("#provider_input").val();
          var facets = "";

		  if (query) { 
			  facets += "<div class=\"header\"><h4>Your Search:</h4></div><ul><li>\"" + query + "\" (<a href=\"javascript:removeKeyword()\">undo</a>)</li></ul>";
		  }
		  if (category || source) {
			  facets += "<div class=\"header\"><h4>Refine by</h4></div><ul>";
              
              if (category) { 
                  facets += "<li>" + category + " (<a href=\"javascript:hideShowCategories()\">undo</a>)</li>";
              }
              if (source) { 
                  facets += "<li>" + source + " (<a href=\"javascript:hideShowProviders()\">undo</a>)</li>";
              }
              
              facets += "</ul>";
		  }
		  if (facets == "") {
			  $("#facets_container").hide();
		  }
		  else	{	  
			 $("#facets_container").show();
			 $("#active_facet_query_wrapper").html(facets);
		  }
	}
    
    var ts = getHashParam('type', '');
    if (!ts || ts == "all") {
        $("#location_box").show();
        $("#map").css("visibility", "visible");
    } else {
        $("#location_box").hide();
        $("#map").css("visibility", "hidden");
        if (ts == "self_directed") {
            $(".top_search").css("visibility", "hidden");
            $("#location_distance_date").css("visibility", "hidden");
        }
    }
    
    $("#tabs").tabs("option", "collapsible", true);
    $("#tabs").tabs("option", "selected", getSelectedTab());
    
    var sort = getHashParam('sort', '');
    if (sort == "eventrangeend") {
        $("#sort").attr('selectedIndex', 1);
    } else {
        $("#sort").attr('selectedIndex', 0);
    }
    if (getSelectedTab() == 3) {
        $(".top_search").css("visibility", "hidden");
    }
    function capitalize(str) {
        if (str) {
            var words = str.split(" ");
            for (var i = 0; i < words.length; i++) {
                var testwd = words[i];
                var firLet = testwd.substr(0, 1);
                var rest = testwd.substr(1, testwd.length - 1)
                words[i] = firLet.toUpperCase() + rest
            }
            return words.join(" ");
        }
    }
    
    var category = getHashParam('category', '');
    if (category) {
        $("#category_input").val(category);
        hideShowCategories(capitalize(category));
    }
    
    var source = getHashParam('source', '');
    if (source) {
        $("#provider_input").val(source);
        hideShowProviders(source);
    }
    
    if (map) {
        map.clearMarkers();
    }
</script>