    <!--#main-->
    <div id="main" class="clearfix">
        <!--.content-->
        <div id="content" class="clearfix">
            <!--.single-page-->
            <div class="single-page-full-width">
                <!--.col-main-->
                <div class="col-main">
<h2>The All for Good Team</h2>
<p/>

<h3>Board Leadership</h3>
<p>Since its launch, All for Good has been guided by a accomplished Board of Directors at Our Good Works.  These individuals have provided counsel and vision throughout our journey.  Their engagement has been an essential element of our success thus far:</p>

David Eisner, chairman and CEO, National Constitution Center * ^<br>
Jonathan Greenblatt, founder and former president, All for Good * ^<br>
Ami Dar, founder and CEO, Idealist*<br>
Arianna Huffington, founder and editor-in-chief, Huffington Post*<br>
Bill Strathmann, CEO, Network for Good*<br>
Chris DiBona, director of open source, Google* #<br>
Craig Newmark, founder and customer service rep, craigslist*<br>
Darell Hammond, founder and CEO, KaBOOM!<br>
David Cohen, executive vice president, Comcast*<br>
Jonah Seiger, founder and managing director, Communications Media*<br>
Michelle Nunn, CEO, Points of Light Institute<br>
Paul Schmitz, CEO, Public Allies*<br>
Reid Hoffman, founder and executive chairman, LinkedIn* #<br>
Randy Zuckerberg, vice president, Facebook* #<br>
Susan Nesbitt, principal, Susan Nesbitt Consulting* ^<br>
Ty Ahmad-Taylor, founder and CEO, FanFeedr* ^<br>
<blockquote>* founding board member<br>
^ executive committee member<br>
# inactive board member</blockquote>
<br>

<h3>The Team</h3>
<p>All for Good owes its success to the dedication and enthusiasm of our current team members as well as our former team members and the countless volunteers that have helped build it into what it is today:</p>
Jonathan Greenblatt, founder<br>
Dan Stryker, director, product management<br>
Adam Sah, software architect<br>
Dennis Sullivan, counsel<br>
Mark Bernstein, president<br>
Michael Thompson, director, engineering<br>
Susan Nesbitt, resources and partner relations<br>
Tony Guzman, partner relations<br>

                </div>
                <!--.col-main-->
            </div>
            <!--.single-page-->
        </div>
        <!--.content-->
